name: Auto-release on PR merge

on:
  # ATM, this is the closest trigger to a PR merging
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AUTO_VERSION: v11.3.6

jobs:
  release-check:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    outputs:
      auto-version: ${{ steps.auto-version.outputs.version }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          # A full checkout is required so that auto will have access to tag
          # information.
          fetch-depth: 0

      - name: Download auto
        run: |
          auto_download_url="$(curl -fsSL https://api.github.com/repos/intuit/auto/releases/tags/$AUTO_VERSION | jq -r '.assets[] | select(.name == "auto-linux.gz") | .browser_download_url')"
          wget -O- "$auto_download_url" | gunzip > ~/auto
          chmod a+x ~/auto

      - name: Check whether a release is due
        id: auto-version
        run: |
          version="$(~/auto version)"
          echo "version=$version" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: release-check
    if: needs.release-check.outputs.auto-version != ''
    steps:
      - name: Configure
        run: |
          git config --global user.email "team@dandiarchive.org"
          git config --global user.name "DANDI Bot"

      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          path: dandischema
          token: ${{ secrets.DANDI_GITHUB_TOKEN }}

      - name: Delete schema-* tags so as not to confuse auto
        run: |
          git tag -l "schema-*" | xargs git tag -d
        working-directory: dandischema

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Install dandischema
        run: python -m pip install .
        working-directory: dandischema

      - name: Get schema version
        run: |
          tools/get-schema-version  # it will also check if schema version is ok

      - name: Checkout dandi/schema
        uses: actions/checkout@v5
        with:
          repository: dandi/schema
          path: schema
          token: ${{ secrets.DANDI_GITHUB_TOKEN }}

      - name: Test for unversioned changes
        run: |
          dirs="$(echo releases/*)"
          echo "Following directories will be checked for differences: $dirs"
          python ../dandischema/tools/pubschemata.py releases
          git status
          git add -A releases
          if ! git diff --cached --exit-code $dirs
          then echo "[ERROR] Existing schema files modified instead of creating a new version"
               exit 1
          fi
        working-directory: schema

      - name: Install build & twine
        run: python -m pip install build twine

      - name: Download auto
        run: |
          auto_download_url="$(curl -fsSL https://api.github.com/repos/intuit/auto/releases/tags/$AUTO_VERSION | jq -r '.assets[] | select(.name == "auto-linux.gz") | .browser_download_url')"
          wget -O- "$auto_download_url" | gunzip > ~/auto
          chmod a+x ~/auto

      - name: Create release
        run: |
          echo "@${{ github.actor }} is creating a release triggered by ${{ github.event_name }}"
          if [ "${{ github.event_name }}" = workflow_dispatch ]
          then opts=
          else opts=--only-publish-with-release-label
          fi
          ~/auto shipit -vv $opts
        env:
          GH_TOKEN: ${{ secrets.DANDI_GITHUB_TOKEN }}
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        working-directory: dandischema

      - name: Commit schema changes and create new tag
        run: |
          tools/commit-and-push-schemata ../schema

# vim:set sts=2:
