name: Test against dandi-cli

on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 * * *'

jobs:
  test-dandi-cli:
    runs-on: ${{ matrix.os }}
    env:
      NO_ET: 1
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2019
          - ubuntu-18.04
          - macos-latest
        python:
          - 3.7
          - 3.8
          - 3.9
        mode:
          - normal
        include:
          - os: ubuntu-18.04
            python: 3.7
            mode: dandi-devel
        exclude:
          # Temporarily disabled due to h5py/hdf5 dependency issue
          # See <https://github.com/dandi/dandi-cli/pull/315>
          - os: windows-2019
            python: 3.9
    steps:
      - name: Check out dandischema
        uses: actions/checkout@v2
        with:
          # Fetch all commits so that versioneer will return something
          # compatible with semantic-version
          fetch-depth: 0
          path: dandischema

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dandischema
        run: |
          python -m pip install --upgrade pip wheel
          pip install .
        working-directory: dandischema

      - name: Install hdf5 (Ubuntu)
        if: matrix.python == '3.9' && startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update && sudo apt-get install -y libhdf5-dev

      - name: Install hdf5 (macOS)
        if: matrix.python == '3.9' && startsWith(matrix.os, 'macos')
        run: |
          brew install hdf5@1.8
          brew link hdf5@1.8

      - name: Install dandi
        run: pip install "dandi[test]"

      - name: Set DANDI_DEVEL=1
        if: matrix.mode == 'dandi-devel'
        run: echo DANDI_DEVEL=1 >> "$GITHUB_ENV"

      - name: Run dandi-cli tests
        run: |
          python -m pytest -s -v \
            "$pythonLocation/lib/python${{ matrix.python }}/site-packages/dandi"
